/* # 08090A*/
/* # A7A2A9*/
/* # F4F7F5 */
/* # 575A5E*/
/* # 222823 */

#barra{
    background-color: #08090A;
}
body{
    background-image: url("RMS_Titanic_3.jpg");
    background-size: 100%;
}
.nav-link{
    color: #F4F7F5;
    
}