/* # 08090A*/
/* # A7A2A9*/
/* # F4F7F5 */
/* # 575A5E*/
/* # 222823 */

#barra{
    background-color: #08090A;
}
body{
    background-color: #F4F7F5;
}
.nav-link{
    color: #F4F7F5;
    text-align: left;
}